<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Página Inicial</title>
</head>
<body>
    <!-- Header-->
    <header style="background-image: url('https://www.softsell.com.br/wp-content/uploads/2020/07/ciberseguranca-entenda-como-funciona-e-quais-o-objetivo-dessa-area-20200710165638.jpg.jpg');">
        <div class="container">
            <nav> 
                <a href="homee.ejs">
                    <img src="https://cdn.icon-icons.com/icons2/2072/PNG/512/internet_lock_locked_padlock_password_secure_security_icon_127100.png" alt="logo" class="logo">
                </a> 
                <ul class="ul">
                    <a href="/homee">Home</a>
                    <a href="/sobre">Sobre</a>
                    <a href="/users/cadastro">Cadastro</a>
                    <a class="btn" href="/contato">Contato</a>
                    <a class="btn" href="/users/login">Login</a> <!-- Link para a página de login -->
                </ul>   
            </nav>
            <section class="banner"> 
                <div class="banner-text">
                    <h1> Secure Senha </h1>
                    <p>Proteja seus dados e receba dicas de segurança</p>
                    <a href="/contato" class="btn">Entrar em Contato</a>
                </div>
            </section>
        </div>
    </header>

    <!-- Resto do conteúdo da página -->
    <!-- Outras seções e footer podem ser mantidos conforme o design da página original -->
</body>
</html>
